
<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script>
      

      
    </script>


    <style>

      /*@import url('https://fonts.googleapis.com/css?family=Raleway:300');*/

      a, h1, p { font-family: 'Helvetica Neue', Arial, sans-serif; }

      p { margin-bottom: 20px; }



      .bg-gray { background-color: #eeeeee; }
      .bg-yellow { background-color: #fec642; }


    </style>


  </head>

  <body>





    <!-- full height hero -->


    <section class="hero is-successi is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">

      </div>

      

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          
          <img src="img/lowbudget-logo.png"></img>

          <h1 class="title">
            Low Budget Oy
          </h1>
          
        </div>
      </div>


      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
          
            <a href="contact">...</a>

          </div>
        </nav>
      </div>

    </section>











    <!-- full height hero -->


    <section class="hero is-fullheight bg-yellow" id="contact">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
      
      </div>

      

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">

          <h2 class="title">Low Budget Oy</h2>
          
          <p>Y-tunnus: 2241245-2</p>
          
          <h3>Yhteydenotot:</h3>
          
          <p>Jarkko Laakso<br />+358400264000<br />jarkko@laakso.info</p>
          
          <h3>Käyntiosoite:</h3>
          
          <p>Aarikkalankatu 6 <br />33530 Tampere</p>
          <p><span style="color: #ff6600;">HUOM! <span style="color: #000000;">Käyntiosoite ei toimi laskutuksessa.</span></span></p>
          
          <h3>Postiosoite:</h3>
          
          <p>Low Budget Oy<br />c /o <span>Azets Insight</span><br />Hatanpään valtatie 26<br />33100 Tampere</p>
          <p><span style="color: #ff6600;">HUOM!</span> Postiosoitteeseen lähetetyt laskut eivät kirjaudu ostoreskontraan. Vain alla oleviin laskutusosoitteisiin lähetetyt laskut ohjautuvat maksatukseen.</p>
          <p>Pankkiyhteys: Säästöpankki FI84 4503 0010 2156 34</p>

        </div>
      </div>


      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            
          </div>
        </nav>
      </div>

    </section>









    <!-- full height hero -->


    <section class="hero is-fullheight with-houses bg-gray">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
      
      </div>

      

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Low Budget Oy
          </h1>
          <h2 class="subtitle">
lp Haiti
          </h2>
        </div>
      </div>


      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            
          </div>
        </nav>
      </div>

    </section>








    <!-- full height hero -->


    <section class="hero is-fullheight" id="mission"> 
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
      
      </div>

      

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Bless Haiti
          </h1>
          <h2 class="subtitle">
            Help us to help Haiti
          </h2>
          
          <p>
            Mission Pastor Martti Falck and his team have been doing missionary and aid work in Haiti since 2002. Working directly with trusted partners in Haiti, ensures our aid reaches those in need. Our partners in Haiti are local churches, parishioners and other aid organisations. Over the past 8 years we have organized many aid and evangelical missions in the areas around Port-au-Prince, Jacmel and Jean Rabel. Through these campaigns we have reached tens of thousands of Haitians in need.
          </p>


        </div>
      </div>


      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            
          </div>
        </nav>
      </div>

    </section>
















    <!-- Footer -->

    <footer class="footer">

      <div class="container">

        <div class="content has-text-centered">
        
          <h1>BlessHaiti.org &copy; 2018</h1>
          
          <ul>
            <li><a href="https://github.com/siunauskis">github.com/siunauskis</a></li>
          </ul>
        
        </div>
          
      </div>

    </footer>




  </body>


</html>
