
<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <script>
      

      
    </script>


    <style>

      /*@import url('https://fonts.googleapis.com/css?family=Raleway:300');*/

      a, h1, p { font-family: 'Helvetica Neue', Arial, sans-serif; }

      p { margin-bottom: 20px; }



      .max { max-width: 768px; }


      .bg-gray { background-color: #eeeeee; }
      .bg-yellow { background-color: #fec642; }

      .banner { max-width: 438px; margin: 5px 0px 15px 0px;}



      /* isommassa kuin mobiili */

      @media screen and (min-width: 769px) {
        .logo-container {max-width: 800px;}
      }


      /* mobiilikoossa */

      @media screen and (max-width: 766px) {
        .logo-container {max-width: 177px;}
        /*.add-margin-in-mobile {margin-top: 30px;}*/
      }


      .logo-wrapper { max-width: 200px; margin: 10px 0px 10px 0px; }



      .bottom-less { padding-bottom: 0px; }


    </style>


  </head>

  <body>




    <!-- LOGO HERO -->


    <section class="hero">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">

      </div>

      

      <!-- Hero content: will be in the middle -->
      <div class="hero-body bottom-less">
        <div class="container has-text-centered">
          
          <img src="img/lowbudget-logo.png"></img>
          
        </div>
      </div>


      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">


      </div>

    </section>











    <!-- CONTACTS AND LOGOS -->


    <section class="section">

      <div class="container max">


        <hr class="" />

        <div class="columns">


          <div class="column logo-wrapper-i">
    

            <div class="">

              <h1 class="subtitle is-2">Low Budget Oy</h1>
              
              <p>Y-tunnus: 2241245-2</p>
              
              <h2 class="subtitle">Yhteydenotot:</h2>
              
              <p>Jarkko Laakso<br />+358400264000<br />jarkko@laakso.info</p>
              
              <h2 class="subtitle">Käyntiosoite:</h2>
              
              <p>Tampereentie 473<br />33880 Lempäälä</p>
              <p><span style="color: #ff6600;">HUOM! </span>Käyntiosoite ei toimi laskutuksessa.</p>
              
              <h2 class="subtitle">Postiosoite:</h2>
              
              <p>Low Budget Oy<br />c /o <span>Azets Insight</span><br />Hatanpään valtatie 26<br />33100 Tampere</p>
              <p><span style="color: #ff6600;">HUOM!</span> Postiosoitteeseen lähetetyt laskut eivät kirjaudu ostoreskontraan.<br>Vain alla oleviin laskutusosoitteisiin lähetetyt laskut ohjautuvat maksatukseen.</p>
              <p>Pankkiyhteys: Säästöpankki FI84 4503 0010 2156 34</p>

            </div>
          


          </div>




          <div class="column logo-wrapper-i">
            

            <div class="banner">
              <a href="http://www.alerent.fi">
                <img src="img/alerent-bann.png" alt="AleRent Autovuokraamo" />
              </a>
            </div>

            <div class="banner">
              <a title="Tampereen Rakennuskonevuokraamo" href="http://www.trk.fi">
                <img " src="img/trkfi-crop.png" alt="Tampereen Rakennuskonevuokraamo" />
              </a>
            </div>

            <div class="banner">
              <a title="Tampereen Bobcat Rent" href="http://www.bobcatrent.fi">
                <img src="img/bobcatrent-crop.png" alt="Tampereen Bobcat Rent" />
              </a>
            </div>

            <div class="banner">
              <a href="http://www.rentset.fi">
                <img src="img/rentset-express-logo.png" alt="rentset-express-logo.png" />
              </a>
            </div>

            <div class="banner">
              <a href="http://www.carup.fi">
                <img src="img/carup-logo.png" alt="carup-logo.png" />
              </a>
            </div>

            <div class="banner">
              <a title="Tampereen Rakennuskuivaus" href="http://www.trkv.fi">
                <img src="img/trk-bann.png" alt="Tampereen Rakennuskuivaus" />
              </a>
            </div>


          
          </div>



        </div>


        <hr />


      </div>

    </section>














    <!-- REFERENCES -->


    <section class="section">

      <div class="container has-text-centered logo-container">


        <div class="columns">


          <div class="column logo-wrapper">
            
            <a href="http://www.yrittajat.fi/pirkanmaanyrittajat">
              <img src="https://www.yrittajat.fi/sites/default/files/sy_jasenyritys_2017_200x100px.png" alt="pirkanmaan-yrittajat.png" />
            </a>
          
          </div>

          <div class="column logo-wrapper">
            
            <a href="http://www.tampere.chamber.fi/">
              <img src="img/tampereen_kauppakamari.jpg" alt="Tampereen kauppakamari" />
            </a>
          
          </div>

          <div class="column logo-wrapper">
          
            <a href="https://www.tilaajavastuu.fi/?yt=2241245-2">
              <img src="img/tilaajavastuu.png" alt="Tilaajavastuu" />
            </a>
          
          </div>

          <div class="column logo-wrapper">
          
            <a href="#">
              <img src="img/aaa-logo.png" alt="AAA - Korkein luottoluokitus" />
            </a>
          
          </div>


        </div>


      </div>

    </section>







    <!-- INVOICING INFORMATION -->


    <section class="section bg-gray">

      <div class="container">


        <div class="container max" style="padding-top: 50px;">

          <div class="columns">


            <div class="column">
      

              <h1 class="subtitle is-3">
                Laskutusosoitteemme
              </h1>
              
              <h3 class="subtitle">1. Verkkolaskut</h3>

              <p>Verkkolaskuosoite: 003722412452</p>
              <p>Operaattori/välittäjätunnus: Maventa (003721291126)</p>
              <p>Välittäjätunnus pankkiverkosta lähetettäessä: DABAFIHH</p>

              <h3 class="subtitle">2. Laskujen vastaanotto sähköpostitse skannauspalveluun</h3>

              <p>Laskulla tulee olla seuraavat osoitetiedot:</p>
              <p>Low Budget Oy<br />
                22412452<br />
                PL 100<br />
                80020 Kollektor Scan
              </p>
              <p>Laskut tulee lähettää sähköpostin Iiitetiedostoina PDF-muodossa (max. 5MB/tiedosto) osoitteeseen: <a href="mailto:22412452@scan.netvisor.fi" target="_blank">22412452@scan.netvisor.fi</a></p>
              <p>Mikäli lasku sisältää liitesivuja niiden tulee olla samassa tiedostossa varsinaisen laskun kanssa.</p>

              <h3 class="subtitle">3. Paperilaskujen skannauspalvelu:</h3>

              <p>Laskulla ja kirjekuoressa tulee olla seuraavat osoitetiedot:</p>
              <p>Low Budget Oy
                <br>22412452
                <br>PL 100
                <br>80020 Kollektor Scan
              </p>
            

            </div>




            <div class="column has-text-centered logo-wrapper-i">
              
              <p><img src="img/Bisnode-DnB-riskiluokka-1-logo-2017.gif" alt="Bisnode-DnB-riskiluokka-1-logo-2017.gif" /></p>
            
            </div>



          </div>


        </div>

      </div>

    </section>








    <!-- Footer -->

    <footer class="footer bg-yellow">

      <div class="container">

        <div class="content has-text-centered">
        
          <h1 class="title">&copy; {{ site.time | date: '%Y' }} Low Budget Oy</h1>
        
        </div>
          
      </div>

    </footer>












        
    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68588654-2', 'auto');
      ga('send', 'pageview');

    </script>












  </body>


</html>
